@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: Eina02;
    src: url('../fonts/63e9b5a63945900d75e8aee2_Eina02-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Eina02;
    src: url('../fonts/63e9b5cb9b72421fc2ed6e80_Eina01-SemiBold.ttf');
    font-weight: 600;
}
:root{
    --text-font :'Inter', sans-serif;
    --body-font: 'Enina02',sans-serif;
    --primary-color: #003D29;
    --secondary-color: #FFE6CC;
    --border-color: #DADBDB;
    --tag-color:#C34482;
    --text-color:#231F1E;

}
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--text-font);
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style: none;
}
.container{
    padding:80px 40px;
}
h1{
    font-family: var(--body-font);
    font-weight: 700;
    font-size: 30px;
}

button{
    border:none;
    outline:none;
}

.heading{
    font-size: 2.8rem;
    font-weight: 700;
    color:var(--text-color);
    margin:20px 0 40px;
    font-family: var(--body-font);
    text-transform: capitalize;
}
.btn{
    padding:14px 23px;
    border: 1px solid #231f1e ;
    border-radius: 30rem;
    color:var(--text-color);
}
.btn-primary{
    padding:16px 36px;
    border-radius: 30rem;
    font-size: 1.8rem;
    font-family: var(--body-font);
    color:#FFFFFF;
    background-color: var(--primary-color);
    font-weight: 700;
    z-index: 10000;
    cursor: pointer;
}
.btn-primary:hover{
    transition: all 0.2s ease;
    background-color: #231F1E;
    cursor: pointer;
}
.btn-secondary{
    font-weight: 1.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    
}
.btn-secondary:hover{
    color:#fff;
    background-color: var(--primary-color);
    animation: opacity 0.8s  ease;
}


@keyframes opacity{
    from{
        opacity: 0.2;
    }
    to{
        opacity: 1;
    }
}
@keyframes upto{
    from {
        transform: translateY(150px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes down{
    0%{
        transform: translateY(var(--lay-1))
    }
    50%{
        transform: translateY()
    }
}

@keyframes fromright{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0)
    }
}

@keyframes scale{
    from{
        transform:scale(0.7);
    }
    to{
        transform:scale(1);
    }
}

@keyframes dropDown{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0%);
    }
}


@media only screen and (max-width:992px) {
    .container{
        padding:40px 20px;
    }
}
@media only screen and (max-width:479px) {
    .container{
        padding:0 15px;
    }
}